-r requirements.txt

black
flake8
flake8-bugbear
isort
pydocstyle
toml
mypy

pip-tools>=6.13.0
pre-commit
pytest
pytest-cov
pytest-mock
coverage[toml]
setuptools>=45
wheel
setuptools_scm[toml]>6.2
twine
sphinx
sphinx-rtd-theme
