imutils==0.5.4
opencv-python==4.5.2.54
scikit-image==0.18.2
tensorflow==2.5.0
black
flake8
flake8-blind-except
flake8-builtins
flake8-docstrings
flake8-logging-format
flake8-polyfill
flake8-rst-docstrings
flake8-use-fstring
importlib-metadata<2.0
mypy
pytest
radon
tox